<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="Payment_Ageing">
  <h1>Sale Order Data</h1>
</div>

<div class="filter">
  <mat-form-field appearance="standard">
      <mat-label><mat-icon mat-list-icon class="icon-display">search</mat-icon>&ensp;Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
  </mat-form-field>
  <button class="btn" (click)="exportexcel()"><i class="fa fa-download"></i> Download</button>
</div>
<section class="micposition">
  <button mat-fab *ngIf="listening$ | async; else mic" (click)="stop()">
      <mat-icon class="soundwave">mic</mat-icon>
  </button>
  <ng-template #mic>
      <button mat-fab (click)="start()">
          <mat-icon>mic</mat-icon>
      </button>
  </ng-template>
</section>

<section *ngIf="transcript$ | async">

</section>



  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
    (matSortChange)="announceSortChange($event)" id="excel-table">

    <!--- Note that these columns can be defined in any order.
           The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="SD_DOC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Sales Doc No.
      </th>
      <td mat-cell *matCellDef="let element"> {{element.SD_DOC}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="SHIP_POINT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Shipment Point </th>
      <td mat-cell *matCellDef="let element"> {{element.SHIP_POINT}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="CREATION_DATE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"> Creation Date </th>
      <td mat-cell *matCellDef="let element"> {{element.CREATION_DATE}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="MATERIAL">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Material
      </th>
      <td mat-cell *matCellDef="let element"> {{element.MATERIAL}} </td>
    </ng-container>

    <ng-container matColumnDef="REQ_QTY">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Required Quantity
      </th>
      <td mat-cell *matCellDef="let element"> {{element.REQ_QTY}} </td>
    </ng-container>

    <ng-container matColumnDef="NET_PRICE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Net Price
      </th>
      <td mat-cell *matCellDef="let element"> {{element.NET_PRICE}} </td>
    </ng-container>

    <ng-container matColumnDef="NET_VALUE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Net Value
      </th>
      <td mat-cell *matCellDef="let element"> {{element.NET_VALUE}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fragment(row.SD_DOC)"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
