<div class="fragment">

    <div class="fragmentHeader">
        <h1>Inquiry Detail</h1>
    </div>
    
    <table style="width:100%">
        <tr>
            <th>Doc No:</th>
            <td>{{InquiryDetailresult.VBELN}}</td>
        </tr>
        <tr>
            <th>Document currency:</th>
            <td>{{InquiryDetailresult.WAVWR}}</td>
        </tr>
       
        <tr>
            <th>Object No:</th>
            <td>{{InquiryDetailresult.OBJNR}}</td>
        </tr>
        <tr>
            <th>Sales Item:</th>
            <td>{{InquiryDetailresult.KWMENG}}</td>
        </tr>
        <tr>
            <th>Tax amount:</th>
            <td>{{InquiryDetailresult.MWSBP}}</td>
        </tr>
        <tr>
            <th>Net Price:</th>
            <td>{{InquiryDetailresult.NETPR}}</td>
        </tr>
        <tr>
            <th>Net Value:</th>
            <td>{{InquiryDetailresult.NETWR}}</td>
        </tr>



    </table>

</div>