<div class="fragment">

    <div class="fragmentHeader">
      <h1>Delivery Detail</h1>
    </div>
  
  
  
  
    <table style="width:100%">
      <tr >
        <th>Doc No:</th>
        <td>{{Deliveryfinal.VBELN}}</td>
      </tr>
      <tr >
        <th>sales order item:</th>
        <td>{{Deliveryfinal.ARKTX}}</td>
      </tr>
      <tr >
        <th>Movement Type:</th>
        <td>{{Deliveryfinal.BWART}}</td>
      </tr>
      <tr >
        <th>Storage Type:</th>
        <td>{{Deliveryfinal.LGTYP}}</td>
      </tr>
      <tr >
        <th>Storage Bin:</th>
        <td>{{Deliveryfinal.LGPLA}}</td>
      </tr>
      <tr >
        <th>Material Type:</th>
        <td>{{Deliveryfinal.MTART}}</td>
      </tr>
      <tr >
        <th>Sales Document Item:</th>
        <td>{{Deliveryfinal.POSNR}}</td>
      </tr>
      
    </table>
  </div>
  
  
  
  

