<div class="fragment">

    <div class="fragmentHeader">
      <h1>Sales Detail</h1>
    </div>
  
  
  
  
    <table style="width:100%">
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Doc Number:</th>
        <td>{{x.DOC_NUMBER}}</td>
      </tr>
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Doc Date</th>
        <td>{{x.DOC_DATE}}</td>
      </tr>
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Item Number:</th>
        <td>{{x.ITM_NUMBER}}</td>
      </tr>
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Material:</th>
        <td>{{x.MATERIAL}}</td>
      </tr>
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Net Price:</th>
        <td>{{x.NET_PRICE}}</td>
      </tr>
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Net value:</th>
        <td>{{x.NET_VALUE}}</td>
      </tr>
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Required Quantity:</th>
        <td>{{x.REQ_QTY}}</td>
      </tr>
      <tr *ngFor="let x of SalesDetailresult ">
        <th>Description:</th>
        <td>{{x.SHORT_TEXT}}</td>
      </tr>
  
    </table>
  </div>
  
  
  
  
