<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="Payment_Ageing">
  <h1>Inquiry Data </h1>
</div>

<div class="filter">
  <mat-form-field appearance="standard">
      <mat-label><mat-icon mat-list-icon class="icon-display">search</mat-icon>&ensp;Search</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
  </mat-form-field>
  <button class="btn" (click)="exportexcel()"><i class="fa fa-download"></i> Download</button>
</div>
<section class="micposition">
  <button mat-fab *ngIf="listening$ | async; else mic" (click)="stop()">
      <mat-icon class="soundwave">mic</mat-icon>
  </button>
  <ng-template #mic>
      <button mat-fab (click)="start()">
          <mat-icon>mic</mat-icon>
      </button>
  </ng-template>
</section>

<section *ngIf="transcript$ | async">

</section>



  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
    (matSortChange)="announceSortChange($event)" id="excel-table">


    <ng-container matColumnDef="VBELN">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Inquiry Doc No.
      </th>
      <td mat-cell *matCellDef="let element"> {{element.VBELN}} </td>
    </ng-container>


    <ng-container matColumnDef="AWAHR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Order probability </th>
      <td mat-cell *matCellDef="let element"> {{element.AWAHR}} </td>
    </ng-container>


    <ng-container matColumnDef="NETWR">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight"> Net Price </th>
      <td mat-cell *matCellDef="let element"> {{element.NETWR}} </td>
    </ng-container>


    <ng-container matColumnDef="KNUMV">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Document Condition number
      </th>
      <td mat-cell *matCellDef="let element"> {{element.KNUMV}} </td>
    </ng-container>

    <ng-container matColumnDef="STWAE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Document Currency
      </th>
      <td mat-cell *matCellDef="let element"> {{element.STWAE}} </td>
    </ng-container>


    <ng-container matColumnDef="VDATU">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"> Delivery Date
      </th>
      <td mat-cell *matCellDef="let element"> {{element.VDATU}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="fragment(row.VBELN)"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
  </mat-paginator>
