


 <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded">
      <mat-nav-list>
  
        <mat-list-item (click)="isExpanded = !isExpanded" class="menu-button">
          <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">more_vert
          </mat-icon>
        </mat-list-item>
  
        <mat-list-item [routerLink]="['/employeeboard/profile']">
          <mat-divider></mat-divider>
          <mat-icon mat-list-icon>account_box</mat-icon>
          <span *ngIf="isExpanded" class="menu-item dropbtn dropbtn">Profile</span>
        </mat-list-item>
        
  
    
        
  
        <mat-list-item >
            <mat-divider></mat-divider>
          <mat-icon mat-list-icon>assessment</mat-icon>
          <span *ngIf="isExpanded" class="menu-item"><div class="dropdown">
            <button class="dropbtn">Dashboard</button>
            <div class="dropdown-content">
            <a [routerLink]="['/employeeboard/leave']">Leave request</a>
            <a [routerLink]="['/employeeboard/payroll']">Pay Roll</a>
            <a [routerLink]="['/employeeboard/hr']">HR Dashboard</a>
            
            </div>
          </div><mat-divider></mat-divider></span>
        </mat-list-item>
        <div class="dashlogout">
          <mat-list-item (click)="custo_logout();">
            <mat-divider></mat-divider>
            <mat-icon mat-list-icon>power_settings_new</mat-icon>
            <span *ngIf="isExpanded" class="menu-item dropbtn dropbtn">Logout</span>
          </mat-list-item>
        </div>
        
        
  
      </mat-nav-list>
    </mat-sidenav>
  
  
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z8">
    
            Employee Portal
        </mat-toolbar>
        <div class="content mat-elevation-z8">
            
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>

